.footer {
  background: #5c164e;
  padding: 20px 0 0 0;
  height: 300px;
  color: #ebe9e9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8rem;
}

.socialLogos{
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.links {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

.link {
  color: #ebe9e9;
  text-decoration: none;
}

.link:hover {
  color: #9000b3;
  transition: 0.5s
}

@media (min-width: 768px){
  .socialLogos{
    width: 15%
  }

  .links{
    width: 50%;
  }
}
