.footer {
  background: rgb(12, 35, 76);
  padding: 20px 0 0 0;
  height: 300px;
  color: rgb(120, 168, 250);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  font-size: 0.8rem;
}

.socialLogos{
    display: flex;
    width: 15%;
    justify-content: space-between;
}

.links {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

.link {
  color: rgb(120, 168, 250);
  text-decoration: none;
}

.link:hover {
  color: white;
}
