.loginFormContainer {
  height: 500px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginForm {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 30px;
}

.loginInput,
.passwordInput {
  width: 80vw;
  height: 50px;
  border: 1px solid #9000b3;
  border-bottom: 2px solid #9000b3;
  margin-top: 20px;
}

.loginConfirmBtn {
  border: none;
  background: #9000b3;
  color: white;
  margin-top: 35px;
  width: 80vw;
  height: 50px;
  font-size: 1.2rem;
  cursor: pointer;
}

.loginInput::placeholder,
.passwordInput::placeholder {
  color: #9000b3;
  font-size: 1.2rem;
  padding-left: 10px;
}

.loginWithGoogleBtn {
  border: none;
  background: #5c164e;
  color: white;
  margin-top: 20px;
  width: 80vw;
  height: 50px;
  font-size: 1.2rem;
  cursor: pointer
}

.forgotPasswordLink {
  text-decoration: none;
  color: #9000b3;
  padding: 15px 0;
  border: none;
  background: white;
  font-size: 1rem;
  display: flex;
  outline: none;
  cursor: pointer;
}

.forgotPasswordLink:hover {
  color: #5c164e;
  transition: 0.5s;
}

.loginConfirmBtn:hover,
.loginWithGoogleBtn:hover {
  background: #501243;
  transition: 0.5s;
}

.error {
  color: red;
}

@media (min-width: 768px) {
  .loginFormContainer {
    width: 30vw;
  }

  .loginInput,
  .passwordInput,
  .loginConfirmBtn,
  .loginWithGoogleBtn {
    width: 28vw;
  }
}
