.logo {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo:hover {
  color: white;
  transition: 0.5s;
}

.logoText {
  font-size: 14px;
  font-weight: bold;
  padding-left: 3px;
}

@media (min-width: 768px) {
  .logo {
    font-size: 2rem;
  }

  .logoText {
    font-size: 24px;
  }
}
