.mainInfo {
  background: wihite;
  text-align: center;
  padding: 40px 0 40px 0;
  width: 70%;
  margin: 0 auto;
}

.mainInfoText{
  font-size: 1.5rem;
  padding-top: 20px;
}

.mainInfoButton{
  color: #acfcd9;
  background: #190933;
  outline: none;
  border: none;
  width: 170px;
  height: 70px;
  font-size: 1.5rem;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer
}

.mainInfoButton:hover{
  background: #5dd9c1;
  color: #190933;
  transition: 0.5s
}