.mainInfo {
  background: rgb(184, 253, 215);
  text-align: center;
  padding: 40px 0 40px 0;
  width: 70%;
  margin: 0 auto;
}

.mainInfoText{
  font-size: 1.5rem;
  padding-top: 20px;
}

.mainInfoButton{
  color: #9FFFCB;
  background: #004E64;
  outline: none;
  border: none;
  width: 170px;
  height: 70px;
  font-size: 1.5rem;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer
}

.mainInfoButton:hover{
  background: #25A18E;
  color: #9FFFCB;
  transition: 0.5s
}