.navbar{
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    width: 95vw
}

.navLinks{
    display: flex;
    flex-direction: row;
}