.navbar{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    position: sticky;
    padding: 1rem
}

.navLinks{
    display: flex;
    flex-direction: row;
}

.burgerButton{
    outline: none;
    border: none
}


/* background: #333;
color: white;
position: sticky;
width: 100%;
top: 0;
display: flex;
justify-content: space-between;
z-index: 1;
padding: 1rem; */