.list {
  display: flex;
  flex-wrap: wrap;
  top: 0;
  justify-content: center;
  align-items: center;
}

.listLink {
  text-decoration: none;
}

.btnContainer {
  padding-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.addToListBtnContainer {
  display: flex;
  justify-content: flex-end;
  margin: 20px 45px 0 0;
}

.addToListBtn {
  text-decoration: none;
  color: black;
}

.addToListBtn:hover {
  color: #9000b3;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 30px 0 30px 0;
}

.paginationNumbers {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}

.paginationNumber {
  cursor: pointer;
}

.paginationIcon {
  cursor: pointer;
}

.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.searchInput {
  height: 30px;
  width: 70%;
  border: none;
  outline: none;
  background: #ebe9e9;
  font-size: 1.3rem;
}

.searchColorInput {
  height: 30px;
  width: 70%;
  border: none;
  outline: none;
  background: #f0b4e4;
  font-size: 1.3rem;
}

.searchButton {
  width: 30px;
  height: 30px;
  border: none;
  color: #ebe9e9;
  background: #9000b3;
  cursor: pointer;
  font-size: 0.5rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.searchButton:hover {
  border: none;
  color: #5c164e;
  background: #ebe9e9;
  transition: 0.6s;
}

@media (min-width: 768px) {
  .formContainer {
    margin-top: 2%;
  }

  .searchInput {
    width: 35vw;
    height: 43px;
  }

  .searchColorInput{
    width: 35vw;
    height: 43px;
    background: #f0b4e4;
  }

  .searchButton {
    height: 43px;
    width: 43px;
    font-size: 1rem;
  }

  .paginationNumbers {
    width: 15%;
  }
}

