
.list{
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.listLink{
  text-decoration: none;
}

.btnContainer{
  padding-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.addToListBtn{
  text-decoration: none;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
}