.list {
  display: flex;
  flex-wrap: wrap;
  top: 0;
  justify-content: center;
  align-items: center;
}

.listLink {
  text-decoration: none;
}

.btnContainer {
  padding-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.addToListBtnContainer {
  display: flex;
  justify-content: flex-end;
  margin: 20px 45px 0 0;
}

.addToListBtn {
  text-decoration: none;
  color: black;
}

.addToListBtn:hover {
  color: #9000b3;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 30px 0 30px 0;
}

.paginationNumbers {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}

.paginationNumber {
  cursor: pointer;
}

.paginationIcon {
  cursor: pointer;
}

@media (min-width: 768px) {
  .paginationNumbers {
    width: 15%;
  }
}
