
.list{
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.listLink{
  text-decoration: none;
}

.btnContainer{
  padding-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.addToListBtn{
  text-decoration: none;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
}

.pagination{
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
}

.paginationNumbers{
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}

.paginationNumber{
  cursor: pointer
}

.paginationIcon{
  cursor: pointer;
}

@media (min-width: 768px){
  .paginationNumbers{
    width: 15%
  }
}

