.profileIcon,
.favoriteIcon{
    color: white;
    font-size: 1.3rem;
}

.profileIcon:hover,
.favoriteIcon:hover{
    color: #9000b3;
    transition: 0.5s;
}

@media (min-width: 768px){
    .profileIcon,
    .favoriteIcon{
        font-size: 2rem
    }
}



