.registerBtn {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 2px solid #f0f3bd;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  color: #f0f3bd;
  width: 80px;
  height: 32px;
  border-radius: 5px;
}

.registerBtn:hover {
  transition: 0.5s;
  color: #9FFFCB;
  border: 2px solid #9FFFCB;
}

@media (min-width: 768px) {
  .registerBtn {
    width: 120px;
    height: 50px;
    font-size: 19px;
  }
}
