.removeAccountContainer{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 200px;
    justify-content: space-evenly;
}

.removeAccountInput{
    border: 1px solid #5c164e
}

@media (min-width: 768px) {
    .removeAccountContainer{
        width: 30%
    }
}