.formContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%
}

.searchInput{
    height: 50px;
    width: 70%;
    border: none;
    outline: none;
    background: #f0f3bd;
    font-size: 1.3rem;
}

.searchButton{
    width: 50px;
    height: 50px;
    border: none;
    color: #f0f3bd;
    background: #00bfb2;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.searchButton:hover{
    border: none;
    color: #00bfb2;
    background: #f0f3bd;
    transition: 0.5s;
}

@media (min-width: 768px){
    .formContainer{
       margin-top: 2%;
    }

    .searchInput{
        width: 40%;
        height: 55px;
    }

    .searchButton{
        height: 55px;
        width: 55px;
    }
}



