* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    height: 100vh;
    background: rgba(0, 0, 0, .4) url('../img/sport2.jpg') no-repeat center center/cover;
    background-blend-mode: darken;
}

.showcase {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

.title{
    display: inline-block;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    margin-top: 200px;
}



