* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    height: 100vh;
    background: rgba(0, 0, 0, .3) url('../img/sport2.jpg') no-repeat center center/cover;
    background-blend-mode: darken;
}

.showcase {
    background-color: rgba(0, 0, 0, 0.9);
}

nav{
    display: flex;
    justify-content: space-between;
}

.btns{
    padding: 10px 10px;
}




