*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    background: rgba(0, 0, 0, .3) url('../img/sport2.jpg') no-repeat center center/cover;
    background-blend-mode: darken;
}

.showcase{
    background-color: rgba(0, 0, 0, 0.9);
}

.coffee{
    color: white
}