.topCategories {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.categoriesContainer{
    display: flex;
    flex-direction: row;
}

.categoriePhoto{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.categorie{
    display: flex;
    flex-direction: column;
    align-items: center;
}

