.topCategories {
    background: rgb(183, 203, 238);
    width: 100vw
}

.categoriesContainer{
    display: flex;
    flex-direction: column;
}

.categoriePhoto{
    width: 220px;
    height: 130px;
    border-radius: 10px;
}

.categorie{
    display: flex;
    flex-direction: column;
    align-items: center;
}

