.userProfile{
    height: 100vh;
}

.userData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileImg{
    width: 120px;
    height: 120px;
    border-radius: 50%
}


.userFeatures{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.changePhotoForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}